svg( viewBox='0 0 50 50' id='loader12')
    path( class='outer' d='M25 50C11.2 50 0 38.8 0 25S11.2 0 25 0s25 11.2 25 25c0 .8-.7 1.5-1.5 1.5S47 25.8 47 25c0-12.1-9.9-22-22-22S3 12.9 3 25s9.9 22 22 22c.8 0 1.5.7 1.5 1.5S25.8 50 25 50Z')
    path( class='inner' d='M25 45C14 45 5 36 5 25c0-.8.7-1.5 1.5-1.5S8 24.2 8 25c0 9.4 7.6 17 17 17s17-7.6 17-17S34.4 8 25 8c-.8 0-1.5-.7-1.5-1.5S24.2 5 25 5c11 0 20 9 20 20s-9 20-20 20Z')
